<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Clean Testbed Environment&#xd;
Deploy the new OSC from master build</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>20</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
  </properties>
  <scm class="hudson.scm.SubversionSCM" plugin="subversion@2.8">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://ssvn.sc.intel.com/dev/osc/vmidc/trunk/automation/Automation</remote>
        <credentialsId>308bda83-1db3-4e11-8969-2f38a0f72fb9</credentialsId>
        <local>.</local>
        <depthOption>infinity</depthOption>
        <ignoreExternalsOption>true</ignoreExternalsOption>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <excludedRegions></excludedRegions>
    <includedRegions></includedRegions>
    <excludedUsers></excludedUsers>
    <excludedRevprop></excludedRevprop>
    <excludedCommitMessages></excludedCommitMessages>
    <workspaceUpdater class="hudson.scm.subversion.UpdateUpdater"/>
    <ignoreDirPropChanges>false</ignoreDirPropChanges>
    <filterChangelog>false</filterChangelog>
  </scm>
  <assignedNode>master</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>Java 8.121</jdk>
  <triggers>
    <jenkins.triggers.ReverseBuildTrigger>
      <spec></spec>
      <upstreamProjects>osc-image-format</upstreamProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </jenkins.triggers.ReverseBuildTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>outputDir=/var/www/vsc-builds/master-all/
echo outputDir $outputDir
buildVersion=`ls -t $outputDir | awk &apos;NR=1&apos; | head -1`
echo buildVersion $buildVersion
VSPHERE_SDK_URL=https://10.3.204.201/sdk
VSPHERE_IP=10.3.204.201:9443
VSPHERE_USER=&apos;Administrator@vsphere.local&apos;
VSPHERE_PASSWORD=&apos;Admin!23&apos;
ESXI_HOST_IP=10.3.204.107
DATASTORE_NAME=lun02
NETWORK_NAME=Network-320
echo -outputDir-buildVersion $outputDir$buildVersion
OVF_NAME=`ls $outputDir$buildVersion | grep ovf | tr -d &apos;\r&apos; | tr -d &apos;\n&apos;`
OVF_PATH=$outputDir$buildVersion/$OVF_NAME
OVF_PATH= /var/www/vsc-builds/master-all/Build1.0.0-SNAPSHOT-58-g6fa6d4d - VISA IP-Mac/OSC-1.0.0-SNAPSHOT-58-g6fa6d4d.ovf
OVF_PATH= /var/www/vsc-builds/master-all/Build1.0.0-SNAPSHOT-57-gff26ed1/OSC-1.0.0-SNAPSHOT-57-gff26ed1.ovf
echo $OVF_PATH
#OSC_VM_NAME=`echo $OVF_NAME | cut -f 1 -d &apos;.&apos;`
OSC_VM_NAME=CI_OSC
OSC_VM_NETMASK=255.255.252.0
OSC_VM_GATEWAY=10.3.207.251
OSC_VM_DNS=10.3.86.116
OSC_VM_IP=10.3.205.104
DATA_CENTER=SC12
HOST=10.3.204.107


#working one
#java -jar /var/tmp/deploy-ovf.jar &apos;https://10.3.204.201/sdk&apos; &apos;Administrator@vsphere.local&apos; &apos;Admin!23&apos; 10.3.204.107 &apos;/var/www/vsc-builds/master/Build163-g068505a/OSC-163-g068505a.ovf&apos; &apos;OSC-163-g068505a&apos; &apos;lun02&apos; &apos;network-320&apos; 10.3.205.104 255.255.252.0 10.3.207.251 10.3.86.116

#java -jar /var/tmp/deploy-ovf.jar https://10.3.204.201/sdk Administrator@vsphere.local Admin!23 10.3.204.107 /var/www/vsc-builds/master-all/Build1.0.0-SNAPSHOT-58-g6fa6d4d/OSC-1.0.0-SNAPSHOT-58-g6fa6d4d.ovf CI_OSC lun02 Network-320 10.3.205.104 255.255.252.0 10.3.207.251 10.3.86.116
java -jar /var/tmp/deploy-ovf.jar $VSPHERE_SDK_URL &quot;$VSPHERE_USER&quot; &quot;$VSPHERE_PASSWORD&quot; $ESXI_HOST_IP $OVF_PATH $OSC_VM_NAME $DATASTORE_NAME $NETWORK_NAME $OSC_VM_IP $OSC_VM_NETMASK $OSC_VM_GATEWAY $OSC_VM_DNS  


# ending build here till we will know how to deploy to Ocata

VSPHERE_SDK_URL=https://10.3.240.201/sdk
VSPHERE_IP=10.3.240.201:9443
VSPHERE_USER=&apos;Administrator@vsphere.local&apos;
VSPHERE_PASSWORD=&apos;Admin!23&apos;
ESXI_HOST_IP=10.3.242.124
DATASTORE_NAME=&apos;datatstore1&apos;
NETWORK_NAME=&apos;VM Network&apos;
echo -outputDir-buildVersion $outputDir$buildVersion
OVF_NAME=`ls $outputDir$buildVersion | grep ovf | tr -d &apos;\r&apos; | tr -d &apos;\n&apos;`
OVF_PATH=$outputDir$buildVersion/$OVF_NAME
echo $OVF_PATH
#OSC_VM_NAME=`echo $OVF_NAME | cut -f 1 -d &apos;.&apos;`
OSC_VM_NAME=CI_OSC-241-211
OSC_VM_NETMASK=255.255.252.0
OSC_VM_GATEWAY=10.3.243.251
OSC_VM_DNS=10.3.86.116
OSC_VM_IP=10.3.241.211
DATA_CENTER=&apos;Physical Datacenter&apos;
HOST=10.3.242.124

java -jar /var/tmp/deploy-ovf.jar $VSPHERE_SDK_URL &quot;$VSPHERE_USER&quot; &quot;$VSPHERE_PASSWORD&quot; $ESXI_HOST_IP $OVF_PATH $OSC_VM_NAME &quot;$DATASTORE_NAME&quot; &quot;$NETWORK_NAME&quot; $OSC_VM_IP $OSC_VM_NETMASK $OSC_VM_GATEWAY $OSC_VM_DNS
                         
sleep 200

exit 0</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.Mailer plugin="mailer@1.20">
      <recipients>yaron.choma@intel.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers/>
</project>