<?xml version='1.0' encoding='UTF-8'?>
<maven2-moduleset plugin="maven-plugin@2.13">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>10</daysToKeep>
        <numToKeep>10</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
  </properties>
  <scm class="hudson.scm.SubversionSCM" plugin="subversion@2.6">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://ssvn.sc.intel.com/dev/osc/vmidc/trunk/server</remote>
        <credentialsId>308bda83-1db3-4e11-8969-2f38a0f72fb9</credentialsId>
        <local>.</local>
        <depthOption>infinity</depthOption>
        <ignoreExternalsOption>true</ignoreExternalsOption>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <excludedRegions></excludedRegions>
    <includedRegions></includedRegions>
    <excludedUsers></excludedUsers>
    <excludedRevprop></excludedRevprop>
    <excludedCommitMessages></excludedCommitMessages>
    <workspaceUpdater class="hudson.scm.subversion.UpdateUpdater"/>
    <ignoreDirPropChanges>false</ignoreDirPropChanges>
    <filterChangelog>false</filterChangelog>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>Java 8</jdk>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <rootModule>
    <groupId>org.osc.core</groupId>
    <artifactId>osc-root</artifactId>
  </rootModule>
  <goals>clean install</goals>
  <mavenOpts>-Xmx512m -XX:MaxPermSize=128m</mavenOpts>
  <aggregatorStyleBuild>true</aggregatorStyleBuild>
  <incrementalBuild>false</incrementalBuild>
  <ignoreUpstremChanges>true</ignoreUpstremChanges>
  <ignoreUnsuccessfulUpstreams>false</ignoreUnsuccessfulUpstreams>
  <archivingDisabled>false</archivingDisabled>
  <siteArchivingDisabled>false</siteArchivingDisabled>
  <fingerprintingDisabled>false</fingerprintingDisabled>
  <resolveDependencies>false</resolveDependencies>
  <processPlugins>false</processPlugins>
  <mavenValidationLevel>-1</mavenValidationLevel>
  <runHeadless>false</runHeadless>
  <disableTriggerDownstreamProjects>false</disableTriggerDownstreamProjects>
  <blockTriggerWhenBuilding>true</blockTriggerWhenBuilding>
  <settings class="jenkins.mvn.DefaultSettingsProvider"/>
  <globalSettings class="jenkins.mvn.DefaultGlobalSettingsProvider"/>
  <reporters>
    <hudson.plugins.checkstyle.CheckStyleReporter plugin="checkstyle@3.46">
      <healthy></healthy>
      <unHealthy></unHealthy>
      <pluginName>[CHECKSTYLE] </pluginName>
      <thresholdLimit>low</thresholdLimit>
      <canRunOnFailed>false</canRunOnFailed>
      <useDeltaValues>false</useDeltaValues>
      <thresholds plugin="analysis-core@1.79">
        <unstableTotalAll>10</unstableTotalAll>
        <unstableTotalHigh></unstableTotalHigh>
        <unstableTotalNormal></unstableTotalNormal>
        <unstableTotalLow></unstableTotalLow>
        <unstableNewAll></unstableNewAll>
        <unstableNewHigh></unstableNewHigh>
        <unstableNewNormal></unstableNewNormal>
        <unstableNewLow></unstableNewLow>
        <failedTotalAll>20</failedTotalAll>
        <failedTotalHigh></failedTotalHigh>
        <failedTotalNormal></failedTotalNormal>
        <failedTotalLow></failedTotalLow>
        <failedNewAll></failedNewAll>
        <failedNewHigh></failedNewHigh>
        <failedNewNormal></failedNewNormal>
        <failedNewLow></failedNewLow>
      </thresholds>
      <dontComputeNew>true</dontComputeNew>
      <usePreviousBuildAsReference>false</usePreviousBuildAsReference>
      <useStableBuildAsReference>false</useStableBuildAsReference>
    </hudson.plugins.checkstyle.CheckStyleReporter>
    <hudson.plugins.findbugs.FindBugsReporter plugin="findbugs@4.65">
      <healthy></healthy>
      <unHealthy></unHealthy>
      <pluginName>[FINDBUGS] </pluginName>
      <thresholdLimit>low</thresholdLimit>
      <canRunOnFailed>false</canRunOnFailed>
      <useDeltaValues>false</useDeltaValues>
      <thresholds plugin="analysis-core@1.79">
        <unstableTotalAll></unstableTotalAll>
        <unstableTotalHigh></unstableTotalHigh>
        <unstableTotalNormal></unstableTotalNormal>
        <unstableTotalLow></unstableTotalLow>
        <unstableNewAll></unstableNewAll>
        <unstableNewHigh></unstableNewHigh>
        <unstableNewNormal></unstableNewNormal>
        <unstableNewLow></unstableNewLow>
        <failedTotalAll></failedTotalAll>
        <failedTotalHigh></failedTotalHigh>
        <failedTotalNormal></failedTotalNormal>
        <failedTotalLow></failedTotalLow>
        <failedNewAll></failedNewAll>
        <failedNewHigh></failedNewHigh>
        <failedNewNormal></failedNewNormal>
        <failedNewLow></failedNewLow>
      </thresholds>
      <dontComputeNew>true</dontComputeNew>
      <usePreviousBuildAsReference>false</usePreviousBuildAsReference>
      <useStableBuildAsReference>false</useStableBuildAsReference>
      <isRankActivated>false</isRankActivated>
      <excludePattern></excludePattern>
      <includePattern></includePattern>
    </hudson.plugins.findbugs.FindBugsReporter>
    <hudson.maven.reporters.MavenMailer>
      <recipients>lakshminarayana.kodali@intel.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>true</sendToIndividuals>
      <perModuleEmail>true</perModuleEmail>
    </hudson.maven.reporters.MavenMailer>
  </reporters>
  <publishers>
    <hudson.plugins.jacoco.JacocoPublisher plugin="jacoco@2.0.1">
      <execPattern>vmiDCServer/target/coverage-reports/**.exec</execPattern>
      <classPattern>vmiDCServer/target/classes</classPattern>
      <sourcePattern>vmiDCServer/src/main</sourcePattern>
      <inclusionPattern></inclusionPattern>
      <exclusionPattern></exclusionPattern>
      <minimumInstructionCoverage>0</minimumInstructionCoverage>
      <minimumBranchCoverage>0</minimumBranchCoverage>
      <minimumComplexityCoverage>9</minimumComplexityCoverage>
      <minimumLineCoverage>11</minimumLineCoverage>
      <minimumMethodCoverage>0</minimumMethodCoverage>
      <minimumClassCoverage>0</minimumClassCoverage>
      <maximumInstructionCoverage>0</maximumInstructionCoverage>
      <maximumBranchCoverage>0</maximumBranchCoverage>
      <maximumComplexityCoverage>0</maximumComplexityCoverage>
      <maximumLineCoverage>0</maximumLineCoverage>
      <maximumMethodCoverage>0</maximumMethodCoverage>
      <maximumClassCoverage>0</maximumClassCoverage>
      <changeBuildStatus>true</changeBuildStatus>
    </hudson.plugins.jacoco.JacocoPublisher>
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.45">
      <recipientList>lakshminarayana.kodali@intel.com</recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.FailureTrigger>
          <email>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.CulpritsRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo>$PROJECT_DEFAULT_REPLYTO</replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.FailureTrigger>
        <hudson.plugins.emailext.plugins.trigger.AlwaysTrigger>
          <email>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo>$PROJECT_DEFAULT_REPLYTO</replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.AlwaysTrigger>
      </configuredTriggers>
      <contentType>default</contentType>
      <defaultSubject>$DEFAULT_SUBJECT</defaultSubject>
      <defaultContent>$DEFAULT_CONTENT</defaultContent>
      <attachmentsPattern></attachmentsPattern>
      <presendScript>$DEFAULT_PRESEND_SCRIPT</presendScript>
      <postsendScript></postsendScript>
      <attachBuildLog>false</attachBuildLog>
      <compressBuildLog>false</compressBuildLog>
      <replyTo>lakshminarayana.kodali@intel.com</replyTo>
      <saveOutput>false</saveOutput>
      <disabled>true</disabled>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
  </publishers>
  <buildWrappers/>
  <prebuilders/>
  <postbuilders>
    <com.sonatype.nexus.ci.nxrm.NexusPublisherBuildStep plugin="nexus-jenkins-plugin@1.0.2-02">
      <nexusInstanceId>nexus_server</nexusInstanceId>
      <nexusRepositoryId>releases</nexusRepositoryId>
      <packages>
        <com.sonatype.nexus.ci.nxrm.MavenPackage>
          <coordinate>
            <groupId>org.osc.api</groupId>
            <artifactId>security-mgr-api</artifactId>
            <version>1.0</version>
            <packaging>jar</packaging>
          </coordinate>
          <assets>
            <com.sonatype.nexus.ci.nxrm.MavenAsset>
              <filePath>IscMgrPlugin/target/security-mgr-api-1.0.jar</filePath>
              <classifier></classifier>
              <extension></extension>
            </com.sonatype.nexus.ci.nxrm.MavenAsset>
          </assets>
        </com.sonatype.nexus.ci.nxrm.MavenPackage>
        <com.sonatype.nexus.ci.nxrm.MavenPackage>
          <coordinate>
            <groupId>org.osc.api</groupId>
            <artifactId>vmware-nsx-api</artifactId>
            <version>1.0</version>
            <packaging>jar</packaging>
          </coordinate>
          <assets>
            <com.sonatype.nexus.ci.nxrm.MavenAsset>
              <filePath>OscVMwareSdnPlugin/target/vmware-nsx-api-1.0.jar</filePath>
              <classifier></classifier>
              <extension></extension>
            </com.sonatype.nexus.ci.nxrm.MavenAsset>
          </assets>
        </com.sonatype.nexus.ci.nxrm.MavenPackage>
      </packages>
    </com.sonatype.nexus.ci.nxrm.NexusPublisherBuildStep>
    <com.sonatype.nexus.ci.nxrm.NexusPublisherBuildStep plugin="nexus-jenkins-plugin@1.0.2-02">
      <nexusInstanceId>nexus_server</nexusInstanceId>
      <nexusRepositoryId>releases</nexusRepositoryId>
      <packages>
        <com.sonatype.nexus.ci.nxrm.MavenPackage>
          <coordinate>
            <groupId>org.osc.api</groupId>
            <artifactId>sdn-controller-api</artifactId>
            <version>1.0</version>
            <packaging>jar</packaging>
          </coordinate>
          <assets>
            <com.sonatype.nexus.ci.nxrm.MavenAsset>
              <filePath>IscSdnControllerPlugin/target/sdn-controller-api-1.0.jar</filePath>
              <classifier></classifier>
              <extension></extension>
            </com.sonatype.nexus.ci.nxrm.MavenAsset>
          </assets>
        </com.sonatype.nexus.ci.nxrm.MavenPackage>
        <com.sonatype.nexus.ci.nxrm.MavenPackage>
          <coordinate>
            <groupId>org.osc.api</groupId>
            <artifactId>sdn-controller-api</artifactId>
            <version>1.0</version>
            <packaging>jar</packaging>
          </coordinate>
          <assets>
            <com.sonatype.nexus.ci.nxrm.MavenAsset>
              <filePath>IscSdnControllerPlugin/target/sdn-controller-api-sources.jar</filePath>
              <classifier>sources</classifier>
              <extension></extension>
            </com.sonatype.nexus.ci.nxrm.MavenAsset>
          </assets>
        </com.sonatype.nexus.ci.nxrm.MavenPackage>
      </packages>
    </com.sonatype.nexus.ci.nxrm.NexusPublisherBuildStep>
    <com.sonatype.nexus.ci.nxrm.NexusPublisherBuildStep plugin="nexus-jenkins-plugin@1.0.2-02">
      <nexusInstanceId>nexus_server</nexusInstanceId>
      <nexusRepositoryId>releases</nexusRepositoryId>
      <packages>
        <com.sonatype.nexus.ci.nxrm.MavenPackage>
          <coordinate>
            <groupId>org.osc.api</groupId>
            <artifactId>security-mgr-api</artifactId>
            <version>1.0</version>
            <packaging>jar</packaging>
          </coordinate>
          <assets>
            <com.sonatype.nexus.ci.nxrm.MavenAsset>
              <filePath>IscMgrPlugin/target/security-mgr-api-sources.jar</filePath>
              <classifier>sources</classifier>
              <extension></extension>
            </com.sonatype.nexus.ci.nxrm.MavenAsset>
          </assets>
        </com.sonatype.nexus.ci.nxrm.MavenPackage>
        <com.sonatype.nexus.ci.nxrm.MavenPackage>
          <coordinate>
            <groupId>org.osc.api</groupId>
            <artifactId>vmware-nsx-api</artifactId>
            <version>1.0</version>
            <packaging>jar</packaging>
          </coordinate>
          <assets>
            <com.sonatype.nexus.ci.nxrm.MavenAsset>
              <filePath>OscVMwareSdnPlugin/target/-nsx-api-sources.jar</filePath>
              <classifier>sources</classifier>
              <extension></extension>
            </com.sonatype.nexus.ci.nxrm.MavenAsset>
          </assets>
        </com.sonatype.nexus.ci.nxrm.MavenPackage>
      </packages>
    </com.sonatype.nexus.ci.nxrm.NexusPublisherBuildStep>
  </postbuilders>
  <runPostStepsIfResult>
    <name>FAILURE</name>
    <ordinal>2</ordinal>
    <color>RED</color>
    <completeBuild>true</completeBuild>
  </runPostStepsIfResult>
</maven2-moduleset>