<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.11.1">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <EnvInjectJobProperty plugin="envinject@1.93.1">
      <info>
        <propertiesContent>JAVA_HOME=/home/jenkins/jdk1.8.0_121
PATH+=/home/jenkins/jdk1.8.0_121/bin/:/home/jenkins/klockwork/kw113/bin</propertiesContent>
        <loadFilesFromMaster>false</loadFilesFromMaster>
      </info>
      <on>true</on>
      <keepJenkinsSystemVariables>true</keepJenkinsSystemVariables>
      <keepBuildVariables>true</keepBuildVariables>
      <overrideBuildParameters>false</overrideBuildParameters>
    </EnvInjectJobProperty>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers>
        <jenkins.triggers.ReverseBuildTrigger>
          <spec></spec>
          <upstreamProjects>osc-image-format, </upstreamProjects>
          <threshold>
            <name>SUCCESS</name>
            <ordinal>0</ordinal>
            <color>BLUE</color>
            <completeBuild>true</completeBuild>
          </threshold>
        </jenkins.triggers.ReverseBuildTrigger>
      </triggers>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.36">
    <script>node(&apos;master&apos;) {
    
	stage(&apos;Preparation&apos;) {
        
        sh &apos;git config --global http.proxy http://proxy-us.intel.com:911&apos;
		sh &apos;git config --global https.proxy http://proxy-us.intel.com:912&apos;
		sh &apos;git config --global no.proxy intel.com,.intel.com,10.0.0.0/8,192.168.0.0/16,localhost,127.0.0.0/8,134.134.0.0/16&apos;
        
        //sh &apos;rm * -rf&apos;
        
        //sh &apos;mkdir -p osc-core&apos;
        dir (&apos;osc-core&apos;) {
            git credentialsId: &apos;oscservice-token&apos;, url: &apos;https://github.com/opensecuritycontroller/osc-core.git&apos;
        }
		
		//sh &apos;mkdir -p security-mgr-api&apos;
        dir (&apos;security-mgr-api&apos;) {
            git credentialsId: &apos;oscservice-token&apos;, url: &apos;https://github.com/opensecuritycontroller/security-mgr-api.git&apos;
        }
		
		//sh &apos;mkdir -p sdn-controller-api&apos;
        dir (&apos;sdn-controller-api&apos;) {
            git credentialsId: &apos;oscservice-token&apos;, url: &apos;https://github.com/opensecuritycontroller/sdn-controller-api.git&apos;
        }
		
		//sh &apos;mkdir -p security-mgr-sample-plugin&apos;
        dir (&apos;security-mgr-sample-plugin&apos;) {
            git credentialsId: &apos;oscservice-token&apos;, url: &apos;https://github.com/opensecuritycontroller/security-mgr-sample-plugin.git&apos;
        }		
		
		//sh &apos;mkdir -p sdn-controller-nsc-plugin&apos;
        dir (&apos;sdn-controller-nsc-plugin&apos;) {
            git credentialsId: &apos;oscservice-token&apos;, url: &apos;https://github.com/opensecuritycontroller/sdn-controller-nsc-plugin.git&apos;
        }
		
   }
   
    stage(&apos;Copy JVM&apos;) {
       sh &quot;cp /home/jenkins/jre-8u131-linux-x64.tar.gz ${WORKSPACE}/osc-core/osc-server-bom/Sources/jre-8u131-linux-x64.tar.gz&quot;
    }
   
   stage(&apos;Build kwmaven&apos;) {
         def workspace = pwd()
         sh &quot;/home/jenkins/jenkins-run-kw.sh ${WORKSPACE}/osc-core arvind.nadendla@intel.com osc&quot;
   }
   
   stage(&apos;Publish report&apos;) {
       publishHTML([allowMissing: false, alwaysLinkToLastBuild: true, keepAll: false, reportDir: &apos;osc-core/build-reports/&apos;, reportFiles: &apos;kw.html&apos;, reportName: &apos;Klocwork issues report&apos;])
   }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>