<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.7">
  <actions/>
  <description>Klocwork report for version 0.6</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <EnvInjectJobProperty plugin="envinject@1.93.1">
      <info>
        <propertiesContent>JAVA_HOME=/home/klocwork/jdk1.8.0_121
PATH=$PATH:~/kw104/bin:$JAVA_HOME/bin</propertiesContent>
        <loadFilesFromMaster>false</loadFilesFromMaster>
      </info>
      <on>true</on>
      <keepJenkinsSystemVariables>true</keepJenkinsSystemVariables>
      <keepBuildVariables>true</keepBuildVariables>
      <overrideBuildParameters>false</overrideBuildParameters>
    </EnvInjectJobProperty>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers/>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.19">
    <script>node(&apos;klocwork&apos;) {
    
    stage(&apos;Preparation&apos;) {
        
        sh &apos;git config --global http.proxy http://proxy-mu.intel.com:911&apos;
		sh &apos;git config --global https.proxy http://proxy-mu.intel.com:912&apos;
		sh &apos;git config --global no.proxy intel.com,.intel.com,10.0.0.0/8,192.168.0.0/16,localhost,127.0.0.0/8,134.134.0.0/16&apos;
        
        sh &apos;rm * -rf&apos;
        
        sh &apos;mkdir -p osc-core&apos;
        dir (&apos;osc-core&apos;) {
            git branch: &apos;0.6&apos;, credentialsId: &apos;31980f75-623f-4ef9-b94c-80c148765b15&apos;, url: &apos;https://github.com/opensecuritycontroller/osc-core.git&apos;
        }
        
        sh &apos;mkdir -p vmware-nsx-plugin&apos;
        dir (&apos;vmware-nsx-plugin&apos;) {
            git branch: &apos;0.6&apos;,  credentialsId: &apos;31980f75-623f-4ef9-b94c-80c148765b15&apos;, url: &apos;https://github.com/opensecuritycontroller/vmware-nsx-plugin.git&apos;
        }
		
		sh &apos;mkdir -p vmware-nsx-api&apos;
        dir (&apos;vmware-nsx-api&apos;) {
            git branch: &apos;0.6&apos;,  credentialsId: &apos;31980f75-623f-4ef9-b94c-80c148765b15&apos;, url: &apos;https://github.com/opensecuritycontroller/vmware-nsx-api.git&apos;
        }
		
		sh &apos;mkdir -p security-mgr-smc-plugin&apos;
        dir (&apos;security-mgr-smc-plugin&apos;) {
            git branch: &apos;0.6&apos;,  credentialsId: &apos;31980f75-623f-4ef9-b94c-80c148765b15&apos;, url: &apos;https://github.com/opensecuritycontroller/security-mgr-smc-plugin.git&apos;
        }
		
		sh &apos;mkdir -p security-mgr-sample-plugin&apos;
        dir (&apos;security-mgr-sample-plugin&apos;) {
            git branch: &apos;0.6&apos;,  credentialsId: &apos;31980f75-623f-4ef9-b94c-80c148765b15&apos;, url: &apos;https://github.com/opensecuritycontroller/security-mgr-sample-plugin.git&apos;
        }
		
		sh &apos;mkdir -p security-mgr-nsm-plugin&apos;
        dir (&apos;security-mgr-nsm-plugin&apos;) {
            git branch: &apos;0.6&apos;,  credentialsId: &apos;31980f75-623f-4ef9-b94c-80c148765b15&apos;, url: &apos;https://github.com/opensecuritycontroller/security-mgr-nsm-plugin.git&apos;
        }
		
		sh &apos;mkdir -p security-mgr-api&apos;
        dir (&apos;security-mgr-api&apos;) {
            git branch: &apos;0.6&apos;,  credentialsId: &apos;31980f75-623f-4ef9-b94c-80c148765b15&apos;, url: &apos;https://github.com/opensecuritycontroller/security-mgr-api.git&apos;
        }
		
		sh &apos;mkdir -p sdn-controller-api&apos;
        dir (&apos;sdn-controller-api&apos;) {
            git branch: &apos;0.6&apos;,  credentialsId: &apos;31980f75-623f-4ef9-b94c-80c148765b15&apos;, url: &apos;https://github.com/opensecuritycontroller/sdn-controller-api.git&apos;
        }
		
		sh &apos;mkdir -p sdn-controller-nsc-plugin&apos;
        dir (&apos;sdn-controller-nsc-plugin&apos;) {
            git branch: &apos;0.6&apos;,  credentialsId: &apos;31980f75-623f-4ef9-b94c-80c148765b15&apos;, url: &apos;https://github.com/opensecuritycontroller/sdn-controller-nsc-plugin.git&apos;
        }
		
   }
   
   stage(&apos;Build kwmaven&apos;) {
         def workspace = pwd()
         sh &quot;/home/klocwork/jenkins-run-kw.sh ${WORKSPACE}/osc-core pawel.proskurnicki@intel.com,bartlomiej.sulich@intel.com,arvind.nadendla@intel.com&quot;
   }
   
   stage(&apos;Publish report&apos;) {
       publishHTML([allowMissing: false, alwaysLinkToLastBuild: true, keepAll: false, reportDir: &apos;osc-core/build-reports/&apos;, reportFiles: &apos;kw.html&apos;, reportName: &apos;Klocwork issues report for 0.6 version&apos;])
   }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
</flow-definition>